<div class="jumbotron">
    <div class="container text-center">
        <div class="michelledt-banner-row flex-container">
            <div class="michelledt-banner-column-img">
                <img class="banner-portrait-img" src="../../../assets/images/Michelle.jpg" alt="Portrait of Michelle">
            </div>
            <div class="michelledt-banner-column-text">
                <h1 class="michelledt-banner-h1">Michelle Domagala-Tang</h1>
                <h2>Welcome to my portfolio</h2>
                <h3>Hi! I'm Michelle, a Software Engineering student with a deep curiosity for innovation and passion for technology. I love to build, collabortate, and tackle important challenges.</h3>
            </div>
        </div>
    </div>
</div>

