<footer class="container-fluid text-center michelledt-footer-container">
    <br>
    <a href="#top" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Return to Top</p>
    <br>
    <h2 class="text-center" id="contact">CONTACT</h2>
    <br>
    <p style="font-size:15px"><span class="glyphicon glyphicon-map-marker"></span> Toronto, Canada</p>
    <p style="font-size:15px"><span class="glyphicon glyphicon-envelope"></span><a href="mailto:michelle.domagalatang@gmail.com"> michelle.domagalatang@gmail.com</a></p>
    <br>
</footer>