<div class="container-fluid text-center">
    <h2 style="font-family: Playfair; font-size:40px" id="projects">Projects</h2>
    <br>
    <p>Some of my favourite projects from the past few years</p>
    <br>

    <div class="michelledt-achievements-flex">
        <div class="michelledt-achievements-col">
            <div class="panel panel-default text-center">
                <a href="https://github.com/MichelleDomagala-Tang/Photographic-Filter">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-film logo"></span>
                        <h4><strong>PHOTO FILTER</strong></h4>
                    </div>
                </a>
                <div class="panel-body">
                    <p>Applies a filter to an image.ppm file based on the specified kernel, written in C.</p>
                </div>
            </div>
        </div>
        <div class="michelledt-achievements-col">
            <div class="panel panel-default text-center">
                <a href="https://github.com/MichelleDomagala-Tang/SoBar">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-heart logo"></span>
                        <h4><strong>SOBAR</strong></h4>
                    </div>
                </a>
                <div class="panel-body">
                    <p>A mobile restaurant/bar hopping application that maps out the optimal path between establishments.</p>
                </div>
            </div>
        </div>
        <div class="michelledt-achievements-col">
            <div class="panel panel-default text-center">
                <a href="https://www.linkedin.com/in/michelle-domagala-tang/">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-wrench logo"></span>
                        <h4><strong>SUMOBOTS</strong></h4>
                    </div>
                </a>
                <div class="panel-body">
                    <p>Developed software and chassis of sumo-fighting robot using Adrino and AutoDesk Inventor.</p>
                </div>
            </div>
        </div>
</div>
</div>
<hr>
<br>