<div class="container-fluid text-center" id="skills">
    <h2>Skills</h2>
    <div class="michelledt-skills-container">
        <div class="michelledt-skills-flex">
            <div class="michelledt-skills-col">
                <i class="fa-brands fa-python" style="font-size: 40px; color: rgb(83, 179, 166);"></i>
                <h3>PYTHON</h3>
                <p>I have developed my Python skills from my Tesla internship and school projects.
                    I have a good understanding of data structures, Python tools and libraries.
                </p>
            </div>
            <div class="michelledt-skills-col">
                <i class="fa-solid fa-desktop" style="font-size: 40px; color: rgb(83, 179, 166);"></i>
                <h3>WEB DEVELOPMENT</h3>
                <p>I have developed HTML, CSS, and JS skills from my co-ops at BMO, RBC, and my website.
                    I learned how to create HTTP requests, create forms, and filter/display information on the UI.</p>
            </div>
            <div class="michelledt-skills-col">
                <i class="fa-brands fa-java" style="font-size: 40px; color: rgb(83, 179, 166);"></i>
                <h3>JAVA</h3>
                <p>I have developed my JAVA skills from my co-op at RBC and personal projects.
                    I have a good understanding of object-oriented programming.
                </p>
            </div>
        </div>
        <div class="michelledt-skills-flex">
            <div class="michelledt-skills-col">
                <i class="fa-solid fa-circle-user" style="font-size: 40px; color: rgb(83, 179, 166);"></i>
                <h3>LEADERSHIP</h3>
                <p>I am an excellent leader, having successfully led over 50 executives to plan McMaster's largest hackathon, DeltaHacks.</p>
            </div>
            <div class="michelledt-skills-col">
                <i class="fa-solid fa-people-group" style="font-size: 40px; color: rgb(83, 179, 166);"></i>
                <h3>TEAMWORK</h3>
                <p>I love working on teams and am great at it! I have experience from co-ops, hackathons, and school projects.</p>
            </div>
            <div class="michelledt-skills-col">
                <i class="fa-solid fa-person-chalkboard" style="font-size: 40px; color: rgb(83, 179, 166);"></i>
                <h3>COMMUNICATION</h3>
                <p>I am excellent at written and verbal communication. I have no trouble communicating and contributing to the conversation.</p>
            </div>
        </div>
    </div>
</div>
