p {
    font-size: 20px;
    padding-top: 10px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    width: 80px;
}

.michelledt-jobs-container {
    padding: 0px 100px;
}

.michelledt-jobs-flex {
    display: flex;
    margin: 2% 2%;
}

.michelledt-jobs-col {
    flex: 50%;
    margin: 10px 20px;
}

@media screen and (max-width: 1225px) {
    .michelledt-jobs-container {
        padding: 0;
    }
    .michelledt-jobs-flex {
        display: grid;
        margin: 0;
    }
    .michelledt-jobs-col {
        margin: 20px;
    }
}