p {
    font-size: 20px;
    padding-top: 10px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    width: 80px;
}

.michelle-jobs-flex {
    display: flex;
    margin: 0 2% 0 2%;
}

.michelledt-jobs-col {
    flex: 25%;
    margin: 0 20px;
}

@media screen and (max-width: 1225px) {
    .michelle-jobs-flex {
        display: grid;
    }
    .michelledt-jobs-col {
        margin: 20px;
    }
}