<!-- <div class="container-fluid text-center" id="jobs">
    <h2 style="font-family: Playfair; font-size:40px; padding-bottom: 15px;">Job Experience<br>
        <p data-aos="fade-up" data-aos-duration="1000">Software Developer at Tesla</h3>
        <p data-aos="fade-up" data-aos-duration="1000">Built Production Line Testers to test power electronics used in Tesla vehicles, solar panels, and more. </h3> 
        <p data-aos="fade-up" data-aos-duration="1000">Technologies Used: LabVIEW, Python, TestStand</h3>
        <div class="d-none d-lg-block"><img src="./images/Tesla.png" alt="Tesla Logo" style="height:100px;"></div>
        <br>
        <hr>
        <p data-aos="fade-up" data-aos-duration="1000">Software Developer at Microsoft</h3>
        <p data-aos="fade-up" data-aos-duration="1000">Worked on Microsoft Teams as a Garage Intern to Develop a location sharing feature. </h3> 
        <p data-aos="fade-up" data-aos-duration="1000">Technologies Used: React Native, Apollo, GraphQL</h3>
        <div class="d-none d-lg-block"><img src="./images/Microsoft.png" alt="Microsoft Logo" style="height:100px;"></div>
        <br>
        <hr>
        <br>
        <p data-aos="fade-up" data-aos-duration="1000">Software Developer at BMO</h3>
        <p data-aos="fade-up" data-aos-duration="1000">Worked on an Agile Development team in Channels Technology during the Summer of 2020. </h3> 
        <p data-aos="fade-up" data-aos-duration="1000">Technologies Used: Angular, HTML, Git</h3>
        <div class="d-none d-lg-block"><img src="./images/BMO.png" alt="BMO Logo" style="height:100px;"></div>
        <br>
        <hr>
</div> -->
<div class="container-fluid text-center" id="jobs">
    <h2>Job Experience</h2>
    <div class="michelledt-jobs-container">
    <div class="michelledt-jobs-flex">
        <div class="michelledt-jobs-col">
            <img src="../../../assets/images/RBC.jpg" alt="RBC logo">
            <h3>Fullstack Developer at RBC</h3>
            <p>Developed new features for RBC's investor client-facing application that follow accessibility guidelines.</p>
            <p>Technologies Used: Angular, TS, HTML, Java, Springboot</p>
        </div>
        <div class="michelledt-jobs-col">
            <img src="../../../assets/images/Tesla.jpg" alt="Tesla logo">
            <h3>Power Electronics Test Engineer at Tesla</h3>
            <p>Built production line test machinery for power electronics used in Tesla vehicles, solar panels, and super chargers.</p>
            <p>Technologies Used: LabVIEW, Python, TestStand</p>
        </div>
    </div>
    <div class="michelledt-jobs-flex">
        <div class="michelledt-jobs-col">
            <img src="../../../assets/images/Microsoft.png" alt="Microsoft logo">
            <h3>Software Developer at Microsoft</h3>
            <p>Worked on Microsoft Teams as a Garage Intern to design, develop, and test a new location sharing feature.</p>
            <p>Technologies Used: React Native, Java, GraphQL</p>
        </div>
        <div class="michelledt-jobs-col">
            <img src="../../../assets/images/BMO.png" alt="BMO logo">
            <h3>Fullstack Developer at BMO</h3>
            <p>Worked on an Agile Development team to update BMO's personal banking application.</p>
            <p>Technologies Used: Angular, HTML, MongoDB</p>
        </div>
    </div>
    </div>
</div>